/* NAVBAR GENERAL */
.navbar {
  background-color: #49281A; /* color café */
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo a {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* MENÚ ESCRITORIO */
.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-menu li a:hover {
  color: #EBC999; /* dorado suave */
}

/* HAMBURGUESA */
.menu-icon {
  display: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

/* ————— RESPONSIVE ————— */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    right: -300px;
    background-color: #49281A;
    width: 200px;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    transition: 0.4s;
  }

  .nav-menu.active {
    right: 0;
  }
}
